@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-zen: 'Zen Maru Gothic', sans-serif;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animate-fade-in {
	animation: fade-in 0.15s ease-in-out;
}
