@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-zen: "Zen Maru Gothic", var(--font-apple);
	--font-apple: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;

	--color-accent-50: var(--color-violet-50);
	--color-accent-100: var(--color-violet-100);
	--color-accent-200: var(--color-violet-200);
	--color-accent-300: var(--color-violet-300);
	--color-accent-400: var(--color-violet-400);
	--color-accent-500: var(--color-violet-500);
	--color-accent-600: var(--color-violet-600);
	--color-accent-700: var(--color-violet-700);
	--color-accent-800: var(--color-violet-800);
	--color-accent-900: var(--color-violet-900);
	--color-accent-950: var(--color-violet-950);
}

@layer base {
	::-webkit-scrollbar {
		@apply w-3.5 bg-zinc-800 m-2;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-zinc-700 border-3 border-zinc-800;
	}

	::selection {
		@apply bg-accent-300 text-zinc-900;
	}

	:focus-visible {
		@apply z-1 outline-none ring-2 ring-accent-500 ring-offset-2 ring-offset-zinc-900;
	}

	a {
		@apply text-accent-400 hover:text-accent-500 underline;
	}
}
