@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-zen: "Zen Maru Gothic", sans-serif;
	--font-mono: "JetBrains Mono", monospace;
	--font-apple: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;

	--color-accent-50: var(--color-purple-50);
	--color-accent-100: var(--color-purple-100);
	--color-accent-200: var(--color-purple-200);
	--color-accent-300: var(--color-purple-300);
	--color-accent-400: var(--color-purple-400);
	--color-accent-500: var(--color-purple-500);
	--color-accent-600: var(--color-purple-600);
	--color-accent-700: var(--color-purple-700);
	--color-accent-800: var(--color-purple-800);
	--color-accent-900: var(--color-purple-900);
	--color-accent-950: var(--color-purple-950);
}

::-webkit-scrollbar {
	@apply w-3.5 bg-zinc-800 m-2;
}

::-webkit-scrollbar-thumb {
	@apply bg-zinc-700 border-3 border-zinc-800;
}

::selection {
	@apply bg-accent-300 text-zinc-900;
}
