---
import { Font } from 'astro:assets'
import Layout from '@/components/layout.astro'
import { Preview } from '@/features/preview'
---

<Layout>
	<Fragment slot="head">
		<Font cssVariable="--font-sans" preload />
		<Font cssVariable="--font-mono" preload />
		<Font cssVariable="--font-zen" preload />
	</Fragment>
	<div class="min-h-screen bg-zinc-950 flex justify-center items-center p-6 transition-colors">
		<Preview client:load />
	</div>
</Layout>
