---
import '../styles/global.css'
import IPhonePreview from '@/features/preview/IPhonePreview.tsx'
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>一日一歩</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500&display=swap" rel="stylesheet" />
		<script is:inline>
			document.documentElement.classList.toggle(
				"dark",
				localStorage.theme === "dark" ||
					(!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),
			)
		</script>
	</head>
	<body class="min-h-screen bg-zinc-900 dark:bg-zinc-900 font-zen flex justify-center items-center p-6 transition-colors">
		<IPhonePreview client:load />
	</body>
</html>
